/* место для вашего кода */

address {
    font-style: normal
}

/* -----------------------header------------------------ */

.header {
    display: flex;
    padding: 94px 50px;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    margin-right: 36px;
}

.header__list {
    list-style-type: circle;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.header__menu-list {
    display: flex;
    flex-direction: row;
    gap: 34px;
    list-style-type: circle;
}

.header__links-list-item .header__link {
    text-decoration: none;
    border-bottom: 1px solid black;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__link_active .header__link {
    border-bottom: none;
}

.header__logo {
    margin-right: auto;
    width: 148px;
    height: 105px;
}

.header__logo-image {
    padding: 0 6px 6px 6px;
}

.header__contacts-list {
    max-width: 240px;
    list-style-type: none;
}

.header__contacts-item .header__link {
    text-decoration: none;
    border-bottom: 1px solid black;
}

/* ---------------jambotron---------------- */

/* .cover {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    background-image: url(/images/cover.jpg);
    background-size: cover;
    background-position: center;
    height: 757px;
}

.accent-span{
    display: block;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.cover__title {
    grid-area: 1/1 / 2/3;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 125px;
    letter-spacing: 0.5em;
    color: #FFFFFF;
}

.cover__text {
    margin: auto;
    grid-area: 2/1 / 3/2;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.cover__bet {
    margin: auto;
    grid-area: 2/2 / 3/3;
}

.cover__bet-link {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #FFFFFF;
    letter-spacing: 0.1em;
} */

/* ----------------cover---------------- */

.cover {
    background-image: url(/images/cover.jpg);
    background-size: cover;
    background-position: center;
    height: 757px;
}

.overlay {
    background-color: #000000;
    opacity: 0.6;
    width: 100%;
    height: 100%;
}

.cover__title {
    padding-left: 50px;
    padding-top: 165px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 115px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    display: block;
    text-align: center;
}  

.aligned-text_right {
    display: block;
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 30px;
}

.no-letter-spacing {
    letter-spacing: normal;
    margin: 8px;
}